openapi: 3.2.0
info:
  title: ShellRecharge EV Platform Locations API
  description: Partner-facing EV charging APIs for the ShellRecharge (formerly NewMotion) network, published through the Shell Developer Portal.
  termsOfService: https://developer.shell.com
  contact:
    name: Shell Developer Portal
    url: https://developer.shell.com
  version: '2.0'
servers:
- url: https://api.shell.com
  description: Production (partner-gated; access via Shell Developer Portal)
- url: https://api-test.shell.com
  description: Test environment
security:
- OAuth2ClientCredentials: []
tags:
- name: Locations
paths:
  /ev/v2/locations:
    get:
      operationId: listLocations
      tags:
      - Locations
      summary: Get the list of all public Shell Recharge locations and their details
      description: Returns all public Shell Recharge EV charging locations, including locations reachable through roaming partners, with EVSE status, connector types, electrical specifications, opening hours, and tariff metadata.
      parameters:
      - name: RequestId
        in: header
        required: true
        description: UUID-formatted unique request identifier.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A list of charging locations.
  /ev/v2/locations/{uid}:
    get:
      operationId: getLocation
      tags:
      - Locations
      summary: Get the details of a specific location by its unique identifier
      parameters:
      - name: uid
        in: path
        required: true
        description: Unique identifier of the location.
        schema:
          type: string
      - name: RequestId
        in: header
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Location details.
  /ev/v2/locations/nearby:
    get:
      operationId: getNearbyLocations
      tags:
      - Locations
      summary: Get the list of locations near a latitude and longitude
      parameters:
      - name: latitude
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: RequestId
        in: header
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Nearby locations.
  /ev/v2/locations/markers:
    get:
      operationId: getLocationMarkers
      tags:
      - Locations
      summary: Get the list of location markers for a set of map bounds and zoom level
      parameters:
      - name: RequestId
        in: header
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Location markers for the requested bounds.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 client credentials grant. A bearer access token is obtained from the Shell SSO token endpoint and sent in the Authorization header; a separate API client id/secret pair is also required on functional requests.
      flows:
        clientCredentials:
          tokenUrl: https://api.shell.com/v1/oauth/token
          scopes: {}
